:root{
    --darkblue: #042940;
    --teal: #005c53;
    --green: #9fc131;
    --lime: #dbf227;
    --tan: #d6d58e;

    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: var(--teal);
}

/* FONTS */
h1{
    color: var(--tan);
    text-align: center;
    font-size: 3rem;
}
p{
    color: var(--tan);
    text-align: center;
    font-size: 1.5rem;
}
.small{
    margin-top: 4rem;
    font-size: 0.75rem;
}

/* turn indicator and grid styles */
#gameboard{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
}
#turn{
    font-size: 8rem;
    margin-right: 4rem;
}
#grid{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: 6vw;
    height: 6vw;
    display: inline-block;
    background: var(--darkblue);
    text-align: center;
    padding: 2vw;
    margin: 0.5vw;
    font-size: 6vw;
    font-weight: bold;
    color: var(--tan);
    border-radius: 10px;
    cursor: pointer;
}
#c0, #c1, #c2{
    border-top: none;
}
#c6, #c7, #c8{
    border-bottom: none;
}
#c0, #c3, #c6{
    border-left: none;
}
#c2, #c5, #c8{
    border-right: none;
}

/* game over modal */
#modal{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 92, 83, 0.8);
    position: absolute;
    top: 0px;
    left: 0px;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 25vw;
    background-color: var(--darkblue);
    border-radius: 10px;
}
#winTxt{
    font-size: 4rem;
}
button{
    width: 50vw;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--tan);
    color: var(--teal);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    cursor: pointer;
}
button:hover{
    background-color: var(--lime);
}